<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {{!-- 647775191935-c2k6cst7fqd69g9su4u3u096e8pbqvhe.apps.googleusercontent.com --}}

    <meta name="google-signin-client_id" content="647775191935-c2k6cst7fqd69g9su4u3u096e8pbqvhe.apps.googleusercontent.com">
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/analytics.readonly">

    <title>The Zoltar Report</title>
	
	<!-- BootStrap  -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <!-- Favicon  -->
    <link rel="shortcut icon" href="assets/images/moneyball.png" type="image/x-icon"/>

    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="assets/css/plugins/morris.css" rel="stylesheet">

	<!-- Awesome Fonts -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    {{!-- jsPDF --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>

</head>

<body>

    {{{body}}}

    <!-- Create New User Modal -->
	<div class="modal" id="createModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title alert alert-info text-center"><span class="fa fa-building"></span><b> Create Company Account</b></h3>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger hide" id="createError" role="alert"></div>
					<form role="form" class="form-group" id="createUser">
						      {{!-- <label for="sel1">Select list (select one):</label>
								<select class="form-control" id="accountSelect">
									<option value="Select Option">Select Option</option>
									<option value ="Add Company">Add Company</option>
								</select> --}}

						<h4 class=""><b>Company Information</b></h4>
						<hr id="companyHR">			
						<label for="Company Name" class="" id="companyLabel">Company Name:<span style="color:red">*</span></label>
						<input type="text" class="form-control " id="companyName-input" required>

						<label for="Account Number" class="" id="companyAccount">Account Number:<span style="color:red">*</span></label>
						<input type="text" class="form-control " id="account-input" placeholder="" required>

						<h4 id="propertyTitle" class=""><b>Property Information</b></h4>
						<hr id="propertyHR" class="">	
						<label for="Property Name" class="" id="propertyLabel">Property Name:<span style="color:red">*</span></label>
						<input type="text" class="form-control " id="propertyName-input">
													
						<label for="Tracking ID" class="" id="trackingLabel">Tracking ID:<span style="color:red">*</span></label>
						<input type="text" class="form-control " id="trackingID-input" >
						
						<h4 id="viewTitle" class=""><b>View Information</b></h4>
						<hr id="viewHR" class="">
						<label for="View Name" class="" id="viewLabel">View Name:<span style="color:red">*</span></label>
						<input type="text" class="form-control " id="viewName-input" required>

						<label for="View ID" class="" id="viewIdLabel">View ID:<span style="color:red">*</span></label>
						<input type="text" class="form-control " id="viewID-input" required>


						<p class="" id="createRequired"><span style="color:red">*</span> Required</p>
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" id="companySubmit">Create Company</button>
					{{!-- <button type="submit" class="btn btn-success hide" id="propertySubmit">Create Property</button>
					<button type="submit" class="btn btn-success hide" id="propertyComplete">Next</button>
					<button type="submit" class="btn btn-success hide" id="viewSubmit">Create View</button>
					<button type="submit" class="btn btn-success hide" id="viewComplete" data-dismiss="modal">Finished</button> --}}
					<button type="button" class="btn btn-danger" id="createCancel" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>



	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Bootstrap jQuery -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="assets/js/plugins/morris/raphael.min.js"></script>
    <script src="assets/js/plugins/morris/morris.min.js"></script>
    {{!-- <script src="assets/js/plugins/morris/morris-data.js"></script> --}}
    
    {{!-- Local javascript --}}
    <script src="assets/js/companyCreate.js"></script>
    <script src="assets/js/companyCRUD.js"></script>
    <script src='assets/js/app.js'></script>
    
    {{!-- Google Analytics API Reference --}}
    <script src="https://apis.google.com/js/client:platform.js"></script>


    

</body>

</html>
