    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="assets/images/crop-ball.gif" height="60" id="smallball"></img></a>
            </div>
            <!-- Top Menu Items -->
            <ul id="selectDropDowns" class="nav navbar-right top-nav navbar-form">
                    <form class="navbar-form pull-right">
                        <select name="company" id="companySelect" class="form-control" style="width: 200px;">
                            <option value="Select Company">Select Company</option>
                            {{#each company}}
                                <option {{#each Properties}}{{#each Views}}value="{{ga_view_id}}"{{/each}}{{/each}}>{{company_name}} -> {{#each Properties}}{{#each Views}}{{../property_name}} -> {{view_name}}{{/each}}{{/each}}</option>
                            {{/each}}


                        </select>
                        <select name="month" id="monthSelect" class="form-control is-valid" style="width: 200px;" title="Select Month">
                            <option value="Select Month">Select Month</option>
                            <option value="0">January</option>
                            <option value="1">February</option>
                            <option value="2">March</option>
                            <option value="3">April</option>
                            <option value="4">May</option>
                            <option value="5">June</option>
                            <option value="6">July</option>
                            <option value="7">August</option>
                            <option value="8">September</option>
                            <option value="9">October</option>
                            <option value="10">November</option>
                            <option value="11">December</option>
                        </select>
                        <select name="year" id="yearSelect" class="form-control" style="width: 200px;">
                            <option value="Select Year">Select Year</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                        </select>
                        <button type="" class="btn btn-info" id="dashSubmit">Submit</button>
                        <button class="btn btn-default g-signin2" data-onsuccess="queryReports"></button>
                        

                    </form>
               
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/customer"><i class="fa fa-fw fa-users"></i> Customers</a>
                    </li>
                    <li class="active">
                        <a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Monthly Dashboard</a>
                    </li>
                    {{!-- <li>
                        <a href="/dashboard"><i class="fa fa-fw fa-bar-chart-o"></i> Annual Dashboard</a>
                    </li> --}}
                     {{!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"> Settings</i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"> </i> Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-file-pdf-o"></i> Export PDF</a>
                            </li>
                        </ul>
                    </li> --}}
                    <li>
                        {{!-- <p class="g-signin2" data-onsuccess="queryReports"></p> --}}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid" id="chart-container">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                            <button class = "btn btn-primary" id="pdf"><i class="fa fa-fw fa-file-pdf-o"></i> Export PDF</button>
                        </h1>
                        <ol class="breadcrumb" id="breadcrumb-heading">
                            <li class="active">
                                <h5><i class="fa fa-dashboard"></i> Sessions<span class="main-sessions-total"></span></h5>
                            </li>
                        </ol>
                        
                    </div>
                </div>
                <!-- /.row -->



                <div class="row">
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tint fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge organic"></div>
                                        <div>Organic</div>
                                    </div>
                                </div>
                            </div>
                            <a href= "#" data-toggle="modal" data-target="#organicDetailModal">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-eye fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge direct"></div>
                                        <div>Direct</div>
                                    </div>
                                </div>
                            </div>
                            <a href= "#" data-toggle="modal" data-target="#directModal">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-money fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge paid"></div>
                                        <div>Paid Search</div>
                                    </div>
                                </div>
                            </div>
                            <a href= "#" data-toggle="modal" data-target="#paidModal">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge referral"></div>
                                        <div>Referral</div>
                                    </div>
                                </div>
                            </div>
                            <a href= "#" data-toggle="modal" data-target="#referralModal">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
					<div class="col-lg-2 col-md-6">
                        <div class="panel panel-navy">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-bullhorn fa-3x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge social"></div>
                                        <div>Social</div>
                                    </div>
                                </div>
                            </div>
                            <a href= "#" data-toggle="modal" data-target="#socialModal">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
					<div class="col-lg-2 col-md-6">
                        <div class="panel panel-orange">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-question-circle fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge other"></div>
                                        <div>Other</div>
                                    </div>
                                </div>
                            </div>
                            <a href= "#" data-toggle="modal" data-target="#otherModal">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row" id="donut-chart-row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="sessions-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Sessions<span id="sessions-total"></span></h3>
                            </div>
                            <div class="panel-body">
                                <div id="sessions-donut-chart"></div>
                                <div class="text-right">
                                    <a href="#" id="sessionDonutClick">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            <div class="panel-heading hide" id="sessionDonut">
                                <h3 class="panel-title hide" id="sessionDonutTitle"><i class="fa fa-bar-chart-o fa-fw"></i> Sessions Details</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered hide" id="sessionsTable">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Direct</th>
                                            <th class="directSessions"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Organic Search</th>
                                            <th class="organicSessions"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Paid Search</th>
                                            <th class="paidSessions"></th>
                                        </tr>      
                                        <tr>
                                            <th scope="row">Social</th>
                                            <th class="socialSessions"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Referral</th>
                                            <th class="referralSessions"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Email</th>
                                            <th class="emailSessions"></th>
                                        </tr> 
                                        <tr>
                                            <th scope="row">Other</th>
                                            <th class="otherSessions"></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="pageviews-heading">

                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Page Views<span id="pageview-total"></span></h3>

                            </div>
                            <div class="panel-body">
                                <div id="pageview-donut-chart"></div>
                                <div class="text-right">
                                    <a href="#" id="viewsDonutClick">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>

                                <div class="panel-heading hide" id="viewsDonut">
                                <h3 class="panel-title hide" id="viewsDonutTitle"><i class="fa fa-bar-chart-o fa-fw"></i> Page View Details</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered hide" id="viewsTable">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Direct</th>
                                            <th class="directPageviews"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Organic Search</th>
                                            <th class="organicPageviews"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Paid Search</th>
                                            <th class="paidPageviews"></th>
                                        </tr>      
                                        <tr>
                                            <th scope="row">Social</th>
                                            <th class="socialPageviews"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Referral</th>
                                            <th class="referralPageviews"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Email</th>
                                            <th class="emailPageviews"></th>
                                        </tr> 
                                        <tr>
                                            <th scope="row">Other</th>
                                            <th class="otherPageviews"></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="users-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Users<span id="users-total"></span></h3>
                            </div>
                            <div class="panel-body">
                                <div id="users-donut-chart"></div>
                                <div class="text-right">
                                    <a href="#" id="usersDonutClick">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>

                                <div class="panel-heading hide" id="usersDonut">
                                <h3 class="panel-title hide" id="usersDonutTitle"><i class="fa fa-bar-chart-o fa-fw"></i> Users Details</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered hide" id="usersTable">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Direct</th>
                                            <th class="directUsers"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Organic Search</th>
                                            <th class="organicUsers"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Paid Search</th>
                                            <th class="paidUsers"></th>
                                        </tr>      
                                        <tr>
                                            <th scope="row">Social</th>
                                            <th class="socialUsers"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Referral</th>
                                            <th class="referralUsers"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Email</th>
                                            <th class="emailUsers"></th>
                                        </tr> 
                                        <tr>
                                            <th scope="row">Other</th>
                                            <th class="otherUsers"></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>   
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="channel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Channel Breakdown</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered hide" id="channelBreakdown">
                                    <thead>
                                        <tr>
                                            <th scope="col">Channel Name</th>
                                            <th scope="col">Users</th>
                                            <th scope="col">Entrances</th>
                                            <th scope="col">Sessions</th>
                                            <th scope="col">% New Sessions</th>
                                            <th scope="col">Avg. Session Duration (sec)</th>
                                            <th scope="col">Page Views</th>
                                            <th scope="col">Page Views per Session</th>
                                            <th scope="col">Bounce Rate</th>
                                            <th scope="col">Exit Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Organic</th>
                                            <th class="organicUsers"></th>
                                            <th class="organicEntrance"></th>
                                            <th class="organicSessions"></th>
                                            <th class="organicPercentNewSessions"></th>
                                            <th class="organicAvgSessions"></th>
                                            <th class="organicPageviews"></th>
                                            <th class="organicPageviewsPerSession"></th>
                                            <th class="organicBounceRate"></th>
                                            <th class="organicExitRate"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Direct</th>
                                            <th class="directUsers"></th>
                                            <th class="directEntrance"></th>
                                            <th class="directSessions"></th>
                                            <th class="directPercentNewSessions"></th>
                                            <th class="directAvgSessions"></th>
                                            <th class="directPageviews"></th>
                                            <th class="directPageviewsPerSession"></th>
                                            <th class="directBounceRate"></th>
                                            <th class="directExitRate"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Paid Search</th>
                                            <th class="paidUsers"></th>
                                            <th class="paidEntrance"></th>
                                            <th class="paidSessions"></th>
                                            <th class="paidPercentNewSessions"></th>
                                            <th class="paidAvgSessions"></th>
                                            <th class="paidPageviews"></th>
                                            <th class="paidPageviewsPerSession"></th>
                                            <th class="paidBounceRate"></th>
                                            <th class="paidExitRate"></th>
                                        </tr>      
                                        <tr>
                                            <th scope="row">Referral</th>
                                            <th class="referralUsers"></th>
                                            <th class="referralEntrance"></th>
                                            <th class="referralSessions"></th>
                                            <th class="referralPercentNewSessions"></th>
                                            <th class="referralAvgSessions"></th>
                                            <th class="referralPageviews"></th>
                                            <th class="referralPageviewsPerSession"></th>
                                            <th class="referralBounceRate"></th>
                                            <th class="referralExitRate"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Social</th>
                                            <th class="socialUsers"></th>
                                            <th class="socialEntrance"></th>
                                            <th class="socialSessions"></th>
                                            <th class="socialPercentNewSessions"></th>
                                            <th class="socialAvgSessions"></th>
                                            <th class="socialPageviews"></th>
                                            <th class="socialPageviewsPerSession"></th>
                                            <th class="socialBounceRate"></th>
                                            <th class="socialExitRate"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Email</th>
                                            <th class="emailUsers"></th>
                                            <th class="emailEntrance"></th>
                                            <th class="emailSessions"></th>
                                            <th class="emailPercentNewSessions"></th>
                                            <th class="emailAvgSessions"></th>
                                            <th class="emailPageviews"></th>
                                            <th class="emailPageviewsPerSession"></th>
                                            <th class="emailBounceRate"></th>
                                            <th class="emailExitRate"></th>

                                        </tr>  

                                      

                                        <tr>
                                            <th scope="row">Other</th>
                                            <th class="otherUsers"></th>
                                            <th class="otherEntrance"></th>
                                            <th class="otherSessions"></th>
                                            <th class="otherPercentNewSessions"></th>
                                            <th class="otherAvgSessions"></th>
                                            <th class="otherPageviews"></th>
                                            <th class="otherPageviewsPerSession"></th>
                                            <th class="otherBounceRate"></th>
                                            <th class="otherExitRate"></th>

                                        </tr> 
                                        <tr id="tableTotals">

                                            <th scope="row">Totals</th>
                                            <th class="totalUsers"></th>
                                            <th class="totalEntrance"></th>
                                            <th class="totalSessions"></th>
                                            <th class="totalPercentNewSessions"></th>
                                            <th class="totalAvgSessions"></th>
                                            <th class="totalPageviews"></th>
                                            <th class="totalPageviewsPerSession"></th>
                                            <th class="totalBounceRate"></th>
                                            <th class="totalExitRate"></th>
                                        </tr>                                                                     

                                        
                                    </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                {{!-- <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Customers</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row --> --}}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
        
    <!-- Organic Detail View Modal -->
        <div class="modal" id="organicDetailModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title alert alert-info text-center"><span class="fa fa-table"></span><b> Organic</b></h3>
                    </div>
                    <div class="modal-body">
                       <table class="table table-bordered" id="organicTableModal">
                            <thead>
                                <tr>
                                    <th scope="col">Organic</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Users</th>
                                    <th class="organicUsers"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Entrances</th>
                                    <th class="organicEntrance"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Sessions</th>
                                    <th class="organicSessions"></th>
                                </tr>      
                                <tr>
                                    <th scope="row">% New Sessions</th>
                                    <th class="organicPercentNewSessions"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Avg. Session Duration(sec)</th>
                                    <th class="organicAvgSessions"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Page Views</th>
                                    <th class="organicPageviews"></th>
                                </tr> 
                                <tr>
                                    <th scope="row">Page Views per Session</th>
                                    <th class="organicPageviewsPerSession"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Bounce Rate</th>
                                    <th class="organicBounceRate"></th>
                                </tr> 
                                <tr>
                                    <th scope="row">Exit Rate</th>
                                    <th class="organicExitRate"></th>
                                </tr>  
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    <!-- Direct Detail View Modal -->
        <div class="modal" id="directModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title alert alert-info text-center"><span class="fa fa-table"></span><b> Direct</b></h3>
                    </div>
                    <div class="modal-body">
                       <table class="table table-bordered" id="directTableModal">
                            <thead>
                                <tr>
                                    <th scope="col">Direct</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Users</th>
                                    <th class="directUsers"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Entrances</th>
                                    <th class="directEntrance"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Sessions</th>
                                    <th class="directSessions"></th>
                                </tr>      
                                <tr>
                                    <th scope="row">% New Sessions</th>
                                    <th class="directPercentNewSessions"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Avg. Session Duration(sec)</th>
                                    <th class="directAvgSessions"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Page Views</th>
                                    <th class="directPageviews"></th>
                                </tr> 
                                <tr>
                                    <th scope="row">Page Views per Session</th>
                                    <th class="directPageviewsPerSession"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Bounce Rate</th>
                                    <th class="directBounceRate"></th>
                                </tr> 
                                <tr>
                                    <th scope="row">Exit Rate</th>
                                    <th class="directExitRate"></th>
                                </tr>  
                            </tbody>
                        </table> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

<!-- Paid Detail View Modal -->
        <div class="modal" id="paidModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title alert alert-info text-center"><span class="fa fa-table"></span><b> Paid Search</b></h3>
                    </div>
                    <div class="modal-body">
                       <table class="table table-bordered" id="paidTableModal">
                            <thead>
                                <tr>
                                    <th scope="col">Paid</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Users</th>
                                    <th class="paidUsers"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Entrances</th>
                                    <th class="paidEntrance"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Sessions</th>
                                    <th class="paidSessions"></th>
                                </tr>      
                                <tr>
                                    <th scope="row">% New Sessions</th>
                                    <th class="paidPercentNewSessions"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Avg. Session Duration(sec)</th>
                                    <th class="paidAvgSessions"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Page Views</th>
                                    <th class="paidPageviews"></th>
                                </tr> 
                                <tr>
                                    <th scope="row">Page Views per Session</th>
                                    <th class="paidPageviewsPerSession"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Bounce Rate</th>
                                    <th class="paidBounceRate"></th>
                                </tr> 
                                <tr>
                                    <th scope="row">Exit Rate</th>
                                    <th class="paidExitRate"></th>
                                </tr>  
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

<!-- Referral Detail View Modal -->
        <div class="modal" id="referralModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title alert alert-info text-center"><span class="fa fa-table"></span><b> Referral</b></h3>
                    </div>
                    <div class="modal-body">
                       <table class="table table-bordered" id="referralTableModal">
                            <thead>
                                <tr>
                                    <th scope="col">Referral</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Users</th>
                                    <th class="referralUsers"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Entrances</th>
                                    <th class="referralEntrance"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Sessions</th>
                                    <th class="referralSessions"></th>
                                </tr>      
                                <tr>
                                    <th scope="row">% New Sessions</th>
                                    <th class="referralPercentNewSessions"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Avg. Session Duration(sec)</th>
                                    <th class="referralAvgSessions"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Page Views</th>
                                    <th class="referralPageviews"></th>
                                </tr> 
                                <tr>
                                    <th scope="row">Page Views per Session</th>
                                    <th class="referralPageviewsPerSession"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Bounce Rate</th>
                                    <th class="referralBounceRate"></th>
                                </tr> 
                                <tr>
                                    <th scope="row">Exit Rate</th>
                                    <th class="referralExitRate"></th>
                                </tr>  
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

<!-- Social Detail View Modal -->
        <div class="modal" id="socialModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title alert alert-info text-center"><span class="fa fa-table"></span><b> Social</b></h3>
                    </div>
                    <div class="modal-body">
                       <table class="table table-bordered" id="socialTableModal">
                            <thead>
                                <tr>
                                    <th scope="col">Social</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Users</th>
                                    <th class="socialUsers"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Entrances</th>
                                    <th class="socialEntrance"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Sessions</th>
                                    <th class="socialSessions"></th>
                                </tr>      
                                <tr>
                                    <th scope="row">% New Sessions</th>
                                    <th class="socialPercentNewSessions"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Avg. Session Duration(sec)</th>
                                    <th class="socialAvgSessions"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Page Views</th>
                                    <th class="socialPageviews"></th>
                                </tr> 
                                <tr>
                                    <th scope="row">Page Views per Session</th>
                                    <th class="socialPageviewsPerSession"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Bounce Rate</th>
                                    <th class="socialBounceRate"></th>
                                </tr> 
                                <tr>
                                    <th scope="row">Exit Rate</th>
                                    <th class="socialExitRate"></th>
                                </tr>  
                            </tbody>
                        </table> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

<!-- Other Detail View Modal -->
        <div class="modal" id="otherModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title alert alert-info text-center"><span class="fa fa-table"></span><b> Other</b></h3>
                    </div>
                    <div class="modal-body">
                       <table class="table table-bordered" id="otherTableModal">
                            <thead>
                                <tr>
                                    <th scope="col">Other</th>
                                    <th scope="col">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Users</th>
                                    <th class="otherUsers"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Entrances</th>
                                    <th class="otherEntrance"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Sessions</th>
                                    <th class="otherSessions"></th>
                                </tr>      
                                <tr>
                                    <th scope="row">% New Sessions</th>
                                    <th class="otherPercentNewSessions"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Avg. Session Duration(sec)</th>
                                    <th class="otherAvgSessions"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Page Views</th>
                                    <th class="otherPageviews"></th>
                                </tr> 
                                <tr>
                                    <th scope="row">Page Views per Session</th>
                                    <th class="otherPageviewsPerSession"></th>
                                </tr>
                                <tr>
                                    <th scope="row">Bounce Rate</th>
                                    <th class="otherBounceRate"></th>
                                </tr> 
                                <tr>
                                    <th scope="row">Exit Rate</th>
                                    <th class="otherExitRate"></th>
                                </tr>  
                            </tbody>
                        </table> 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
