    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="assets/images/crop-ball.gif" height="60" id="smallball"></img></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav navbar-form">
                    <form class="navbar-form pull-right">
                        <select name="company" id="companySelect" class="form-control" style="width: 200px;">
                            <option value="Select Company">Select Company</option>
                            {{#each company}}
                                <option {{#each Properties}}{{#each Views}}value="{{ga_view_id}}"{{/each}}{{/each}}>{{company_name}} -> {{#each Properties}}{{#each Views}}{{../property_name}} -> {{view_name}}{{/each}}{{/each}}</option>
                            {{/each}}


                        </select>
                        <select name="month" id="monthSelect" class="form-control is-valid" style="width: 200px;" title="Select Month">
                            <option value="Select Month">Select Month</option>
                            <option value="0">January</option>
                            <option value="1">February</option>
                            <option value="2">March</option>
                            <option value="3">April</option>
                            <option value="4">May</option>
                            <option value="5">June</option>
                            <option value="6">July</option>
                            <option value="7">August</option>
                            <option value="8">September</option>
                            <option value="9">October</option>
                            <option value="10">November</option>
                            <option value="11">December</option>
                        </select>
                        <select name="year" id="yearSelect" class="form-control" style="width: 200px;">
                            <option value="Select Year">Select Year</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                        </select>
                        <button type="" class="btn btn-info" id="dashSubmit">Submit</button>
                        <button class="btn btn-default g-signin2" data-onsuccess="queryReports"></button>
                        

                    </form>
               
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/customer"><i class="fa fa-fw fa-users"></i> Customers</a>
                    </li>
                    <li class="active">
                        <a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Monthly Dashboard</a>
                    </li>
                    <li>
                        <a href="/dashboard"><i class="fa fa-fw fa-bar-chart-o"></i> Annual Dashboard</a>
                    </li>
                     {{!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"> Settings</i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"> </i> Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-file-pdf-o"></i> Export PDF</a>
                            </li>
                        </ul>
                    </li> --}}
                    <li>
                        {{!-- <p class="g-signin2" data-onsuccess="queryReports"></p> --}}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid" id="chart-container">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                            <button class = "btn btn-primary" id="pdf"><i class="fa fa-fw fa-file-pdf-o"></i> Export PDF</button>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <h5><i class="fa fa-dashboard"></i> Sessions<span id="main-sessions-total"></span></h5>
                            </li>
                        </ol>
                        
                    </div>
                </div>
                <!-- /.row -->



                <div class="row">
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tint fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" id="organic"></div>
                                        <div>Organic</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-eye fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" id="direct"></div>
                                        <div>Direct</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-money fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" id="paid"></div>
                                        <div>Paid Search</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" id="referral"></div>
                                        <div>Referral</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
					<div class="col-lg-2 col-md-6">
                        <div class="panel panel-navy">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-bullhorn fa-3x" aria-hidden="true"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" id="social"></div>
                                        <div>Social</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
					<div class="col-lg-2 col-md-6">
                        <div class="panel panel-orange">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-question-circle fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" id="other"></div>
                                        <div>Other</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row" id="donut-chart-row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Sessions<span id="sessions-total"></span></h3>
                            </div>
                            <div class="panel-body">
                                <div id="sessions-donut-chart"></div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">

                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Page Views<span id="pageview-total"></span></h3>

                            </div>
                            <div class="panel-body">
                                <div id="pageview-donut-chart"></div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Users<span id="users-total"></span></h3>
                            </div>
                            <div class="panel-body">
                                <div id="users-donut-chart"></div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Channel Breakdown</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered hide" id="channelBreakdown">
                                    <thead>
                                        <tr>
                                            <th scope="col">Channel Name</th>
                                            <th scope="col">Users</th>
                                            <th scope="col">Entrances</th>
                                            <th scope="col">Sessions</th>
                                            <th scope="col">% New Sessions</th>
                                            <th scope="col">Avg. Session Duration (sec)</th>
                                            <th scope="col">Page Views</th>
                                            <th scope="col">Page Views per Session</th>
                                            <th scope="col">Bounce Rate</th>
                                            <th scope="col">Exit Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">Organic</th>
                                            <th id="organicUsers"></th>
                                            <th id="organicEntrance"></th>
                                            <th id="organicSessions"></th>
                                            <th id="organicPercentNewSessions"></th>
                                            <th id="organicAvgSessions"></th>
                                            <th id="organicPageviews"></th>
                                            <th id="organicPageviewsPerSession"></th>
                                            <th id="organicBounceRate"></th>
                                            <th id="organicExitRate"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Direct</th>
                                            <th id="directUsers"></th>
                                            <th id="directEntrance"></th>
                                            <th id="directSessions"></th>
                                            <th id="directPercentNewSessions"></th>
                                            <th id="directAvgSessions"></th>
                                            <th id="directPageviews"></th>
                                            <th id="directPageviewsPerSession"></th>
                                            <th id="directBounceRate"></th>
                                            <th id="directExitRate"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Paid Search</th>
                                            <th id="paidUsers"></th>
                                            <th id="paidEntrance"></th>
                                            <th id="paidSessions"></th>
                                            <th id="paidPercentNewSessions"></th>
                                            <th id="paidAvgSessions"></th>
                                            <th id="paidPageviews"></th>
                                            <th id="paidPageviewsPerSession"></th>
                                            <th id="paidBounceRate"></th>
                                            <th id="paidExitRate"></th>
                                        </tr>      
                                        <tr>
                                            <th scope="row">Referral</th>
                                            <th id="referralUsers"></th>
                                            <th id="referralEntrance"></th>
                                            <th id="referralSessions"></th>
                                            <th id="referralPercentNewSessions"></th>
                                            <th id="referralAvgSessions"></th>
                                            <th id="referralPageviews"></th>
                                            <th id="referralPageviewsPerSession"></th>
                                            <th id="referralBounceRate"></th>
                                            <th id="referralExitRate"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Social</th>
                                            <th id="socialUsers"></th>
                                            <th id="socialEntrance"></th>
                                            <th id="socialSessions"></th>
                                            <th id="socialPercentNewSessions"></th>
                                            <th id="socialAvgSessions"></th>
                                            <th id="socialPageviews"></th>
                                            <th id="socialPageviewsPerSession"></th>
                                            <th id="socialBounceRate"></th>
                                            <th id="socialExitRate"></th>
                                        </tr>
                                        <tr>
                                            <th scope="row">Email</th>
                                            <th id="otherUsers"></th>
                                            <th id="otherEntrance"></th>
                                            <th id="otherSessions"></th>
                                            <th id="otherPercentNewSessions"></th>
                                            <th id="otherAvgSessions"></th>
                                            <th id="otherPageviews"></th>
                                            <th id="otherPageviewsPerSession"></th>
                                            <th id="otherBounceRate"></th>
                                            <th id="otherExitRate"></th>
                                        </tr> 
                                        <tr>
                                            <th scope="row">Other</th>
                                            <th id="emailUsers"></th>
                                            <th id="emailEntrance"></th>
                                            <th id="emailSessions"></th>
                                            <th id="emailPercentNewSessions"></th>
                                            <th id="emailAvgSessions"></th>
                                            <th id="emailPageviews"></th>
                                            <th id="emailPageviewsPerSession"></th>
                                            <th id="emailBounceRate"></th>
                                            <th id="emailExitRate"></th>
                                        </tr>  
                                        <tr class="table-primary">
                                            <th scope="row">Totals</th>
                                            <th id="totalUsers"></th>
                                            <th id="totalEntrance"></th>
                                            <th id="totalSessions"></th>
                                            <th id="totalPercentNewSessions"></th>
                                            <th id="totalAvgSessions"></th>
                                            <th id="totalPageviews"></th>
                                            <th id="totalPageviewsPerSession"></th>
                                            <th id="totalBounceRate"></th>
                                            <th id="totalExitRate"></th>
                                        </tr>                                                                     

                                        
                                    </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                {{!-- <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Customers</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row --> --}}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
