<div class='container'>
	<div class="row">
		<p><a href="https://github.com/nsd32/Zoltar-Report">ZOLTAR REPORT</a></p>	
	</div>
	<div class="row">
		<img class="center-block" src="assets/images/crop-ball.gif">
	</div>

	<br>
	<br>
	
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4">
				<a class="btn btn-success btn-block" href="dashboard" role="button">Dashboard</a>	
			</div>
			<div class="col-md-4">
				
			</div>
			<div class="col-md-4">
				<button class="btn btn-info btn-block" data-toggle="modal" data-target="#createModal">Add Company</button>	
			</div>
		</div>
	</div>
</div>

<style type="text/css">

body {
  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

#container {
  width: 500px;
  margin: auto;
}
		/*Neon*/
p {
  text-align: center;
  font-size: 10em;
  margin: auto;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

p:nth-child(1) a {
  color: #228DFF;
  font-family: Impact, Charcoal, sans-serif;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

/*p:nth-child(1) a:hover {
  color: #FF1177;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@media (max-width: 650px) {
  	#container {
    	width: 100%;
  	}
  	p {
    	font-size: 3.5em;
  	}
}

#req {
	font-size: 15px;
}

</style>



<!-- Create New User Modal -->
	<div class="modal" id="createModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title alert alert-info text-center"><span class="fa fa-building"></span><b> Create Company Account</b></h3>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger hide" id="createError" role="alert"></div>
					<form role="form" class="form-group" id="createUser">
						      {{!-- <label for="sel1">Select list (select one):</label>
								<select class="form-control" id="accountSelect">
									<option value="Select Option">Select Option</option>
									<option value ="Add Company">Add Company</option>
								</select> --}}

						<h3 class=""><b>Company Information</b></h3>
						<hr id="companyHR">			
						<label for="Company Name" class="" id="companyLabel">Company Name:<span style="color:red">*</span></label>
						<input type="text" class="form-control " id="companyName-input" required>

						<label for="Account Number" class="" id="companyAccount">Account Number:<span style="color:red">*</span></label>
						<input type="text" class="form-control " id="account-input" placeholder="" required>

						<h3 id="propertyTitle" class=""><b>Property Information</b></h3>
						<hr id="propertyHR" class="">	
						<label for="Property Name" class="" id="propertyLabel">Property Name:<span style="color:red">*</span></label>
						<input type="text" class="form-control " id="propertyName-input">
													
						<label for="Tracking ID" class="" id="trackingLabel">Tracking ID:<span style="color:red">*</span></label>
						<input type="text" class="form-control " id="trackingID-input" >
						
						<h3 id="viewTitle" class=""><b>View Information</b></h3>
						<hr id="viewHR" class="">
						<label for="View Name" class="" id="viewLabel">View Name:<span style="color:red">*</span></label>
						<input type="text" class="form-control " id="viewName-input" required>

						<label for="View ID" class="" id="viewIdLabel">View ID:<span style="color:red">*</span></label>
						<input type="text" class="form-control " id="viewID-input" required>


						<p class="" id="createRequired"><span style="color:red">*</span> Required</p>
					</form>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" id="companySubmit">Create Company</button>
					{{!-- <button type="submit" class="btn btn-success hide" id="propertySubmit">Create Property</button>
					<button type="submit" class="btn btn-success hide" id="propertyComplete">Next</button>
					<button type="submit" class="btn btn-success hide" id="viewSubmit">Create View</button>
					<button type="submit" class="btn btn-success hide" id="viewComplete" data-dismiss="modal">Finished</button> --}}
					<button type="button" class="btn btn-danger" id="createCancel" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
